.list-container{
    display:flex;
    flex-direction:column;
    width:100%;
    flex-wrap:wrap;
    justify-content: center;
    gap:8px;
}

.encounters-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.encounters-list.open{
    height:auto;
}

.encounters-list.closed{
    height:0;
    overflow:hidden;
}

.encounters-item{
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    width:168px;
    position:relative;
    box-sizing: border-box;
    padding:16px;
    cursor:pointer;
    transition: background-color 0.2s ease;
    border-radius:10px;
}

.encounters-item.caught{
    background-color:var(--primary-color);
    color:var(--third-light);
}

.encounters-item.not-caught:hover{
    background-color: var(--third-color);
}

.encounters-item.caught:hover{
    background-color:var(--primary-dark);
}

.encounters-location{
    font-size:30px;
    text-align:center;
    border-bottom:1px solid var(--third-dark);
    padding-top:12px;
    cursor:pointer;
}

.groupHeader{
    display:flex;
    flex-direction:column;
    width:100%;
    position:relative;
    justify-content: center;
    position:relative;
}

.groupHeader img{
    height:24px;
    width:24px;
    image-rendering:pixelated;
}

.headerStats{
    position:absolute;
    padding-left:40px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:8px;
    pointer-events: none;
}

.headerArrow{
    position:absolute;
    font-size:24px;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor:pointer;
    pointer-events: none;
}