.pokemon-card-container{
    display:flex;
    flex-direction: column;
    position: relative;
}

.pokemon-card-name{
    font-size:x-large;
    text-align: center;
    font-weight:600;
}

.pokemon-card-image{
    width:168px;
    height:126px;
    image-rendering: pixelated;
}

.pokemon-card-method{
    width:32px;
    image-rendering: pixelated;
    position: absolute;
    bottom:0;
    right:-10px;
}

.pokemon-card-condition-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeball-icon{
    position:absolute;
    width:24px;
    top:0px;
    left:0px;
    image-rendering:pixelated;
    transform:translate(-45%, -45%);
}