.encounters-container{
    display:flex;
    flex-direction:column;
    padding:10px;
}

.encounters-list-container{
    display:flex;
    flex-direction:column;
}

.encounters-list{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.encounters-item{
    all:unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:168px;
    position:relative;
}

.encounters-location-area{
    font-size:30px;
    padding-left:30px;
}