.encounters-container{
    max-height: 70vh;
    flex:1;
    overflow-y:auto;
}

.encounters-list{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    border-top:1px solid #ADB5BF;
    padding-top:12px;
}

.encounters-item{
    all:unset;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    width:168px;
    position:relative;
}

.encounters-location-area{
    font-size:30px;
    text-align:center;
}

@media only screen and (max-width: 600px) {
    .encounters-container{
        overflow:visible;
    }
}