.header-container{
    width:100%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
    color:var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header-child{
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-child h1 {
    min-width:max-content;
    cursor:pointer;
    transition: color 0.2s ease;
    font-size:40px;
    margin:0;
    padding:6px;
}

.header-child h1:hover{
    color:var(--primary-color);
}

.header-child.login-status{
    position:absolute;
    right:10px;
    top:0;
    bottom:0;
}

@media only screen and (max-width: 600px) {
    .header-container{
        flex-direction:column;
    }

    .header-child.login-status{
        position:relative;
    }
}