.layout-wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
}

.layout-content{
    display:flex;
    flex:1;
    padding:30px;
}

.layout-footer{
    text-align:center;
    color:inherit;
    padding:10px;
}

@media only screen and (max-width: 600px) {

}