.layout-wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
}

.layout-header{
    background-color:var(--primary-color);
    box-sizing:border-box;
}

.layout-header h1{
    color:var(--third-light);
}

.layout-header h1:hover{
    color: var(--third-dark);
}

.layout-content{
    display:flex;
    flex:1;
    padding:30px;
}

.layout-footer{
    text-align:center;
    color:inherit;
    padding:10px;
}

@media only screen and (max-width: 600px) {

}