.pokemon-card-name{
    font-size:x-large;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pokemon-card-image{
    width:168px;
    image-rendering: pixelated;
}

.pokemon-card-method{
    width:32px;
}