.pokedex-container{
    width:15%;
    display:flex;
    flex-wrap: wrap;
    background-color:#e6f1ff;
    justify-content: center;
    border-left:8px #af3049 solid;
    position:absolute;
    right: -15%;
    top:0px;
    bottom:0px;
    overflow-y:scroll;
    transition: right 0.3s ease;
}

.pokedex-container.visible{
    right: 0;
}

.pokedex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
}