.signout-button{
    width:200px;
    padding:12px;
    position:absolute;
    top:0;
    left:0;
}

@media only screen and (max-width: 600px) {
    .signout-button{
        width:100%;
        position:relative;
    }
}
