.controls-container{
    border: 2px solid var(--accent-color);
    border-radius:20px;
    background-color:#f2f6fa;
    margin-top:20px;
    display:flex;
    padding:20px;
}

.version-div{
    width:150px;
    margin:10px;
    border: 2px solid var(--accent-color);
}