.pokedex-card-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:14px;
    padding:4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:var(--third-light);
    color:var(--third-light);
    cursor:default;
    position:relative;
    border:solid transparent 3px;
    color:var(--secondary-color);
    
}

.pokedex-card-item-exit{
    position:absolute;
    right:10px;
    font-size:40px;
    cursor:pointer;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.pokedex-card-item-exit:hover{
    color: red;
}

.caught{
    background-color:var(--primary-light);
    border:solid var(--primary-dark) 3px;
    color:var(--third-light);
}

.pokedex-card-item h1{
    margin:0;
    padding:0;
}

.pokedex-card-item img {
    width:280px;
    image-rendering: pixelated;
}

.pokedex-card-item-types img{
    width:100px;
    margin:8px;
    image-rendering: auto;
}

.pokedex-card-item-types{
    display:flex;
    flex-direction: row;
}

.caught-icon{
    position:absolute;
    max-width:69px;
    top:0;
    left:0;
    image-rendering:auto;
    transform:translate(-20%, -20%)
}

.evolutionsLayout{
    text-align: center;
}

.evolutionsContainer{
    display:flex;
    flex-direction: row;
    gap:10px;
    text-align: center;
    justify-content: center;
}

.evolutionsItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolutionsItem p{
    margin:0;
}

.evolutionsItem img{
    width:56px;
}