.encounters-layout{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
}

.pokedex-container{
    display:flex;
    padding-top:60px;
    box-sizing: border-box;
    justify-content: center;
    height:min-content;
}

.encounters-container-layout{
    display:flex;
    width:80%;
}

.content-container{
    display:flex;
    flex-direction: row;
    height:100%;
    justify-content: center;
}

.encounters-controls-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

p.encounters-controls-child{
    font-size:larger;
    font-weight:500;
}

.encounters-controls-child{
    margin-left:8px;
    margin-right:8px;
    display:flex;
    align-items: center;
}

.encounters-div{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:80%;
}

@media only screen and (max-width: 600px) {
    .encounters-layout{
        display:flex;
        flex-direction:column;
    }

    .encounters-controls-container{
        flex-direction:column;
    }

    .content-container{
        display:flex;
        flex-direction:column;
    }

    .encounters-container-layout{
        flex-direction: column;
    }

    .pokedex-container{
        padding:0;
        width:100%;
    }
}