.list-container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    gap:8px;
}

.encounters-list{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    gap:4px;
}

.encounters-item{
    display: block;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    width:168px;
    position:relative;
    box-sizing: border-box;
    padding:6px;
    cursor:pointer;
    transition: background-color 0.2s ease;
    border-radius:10px;
}

.encounters-item.caught{
    background-color:var(--primary-color);
    color:var(--third-light);
}

.encounters-item.not-caught:hover{
    background-color: var(--third-color);
}

.encounters-item.caught:hover{
    background-color:var(--primary-dark);
}

.encounters-location{
    font-size:30px;
    text-align:center;
    border-bottom:1px solid var(--third-dark);
    padding-top:12px;
    cursor:pointer;
}