.pokemon-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y:scroll;
    background-color:var(--third-color);
    border-radius:16px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px inset;
    box-sizing: border-box;
    padding:10px;
    flex:1;
    width:100%;
    align-items: center;
}

.pokemon-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width:56px;
    height:56px;
}

.pokemon-sprite{
    width:56px;
}

/* make the pokemon sprite grow when the mouse is on it */

.pokemon-list-item:hover .pokemon-sprite{
    transform:scale(2);
    image-rendering:pixelated;
}

/* .pokemon-list-item.caught{
    background-color:var(--primary-color);
}

.pokemon-list-item.not-caught:hover{
    background-color:var(--third-dark);
}

.pokemon-list-item.caught:hover{
    background-color:var(--primary-dark);
} */

@media only screen and (max-width: 600px) {
    .pokemon-list-container{
        all:unset;
        border:2px var(--primary-dark) solid;
        padding:2px;
        border-radius:20px;
        width:100%;
        display:flex;
        flex-direction:column;
        transition: bottom 0.3s ease;
        height:200px;
        overflow-y:auto;
    }
}