.tracker-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.pokedex-container{
    display:flex;
    width:80%;
    height:20vh;
    border:2px var(--primary-dark) solid;
    border-radius:20px;
    padding:2px;
}

@media screen and (orientation: portrait){
.pokedex-container{
    height:50vh;
}
} 

.controls-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    gap:10px;
}

.controls-child{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.controls-child p{
    font-size:larger;
}

.encounters-layout{
    display: flex;
    flex-direction: row;
    width:80%;
    gap:20px;
    justify-content: center;
}

.encounters-container{
    display:flex;
    flex-direction:column;
    width:100%;
}

.encounters-container:empty{
    width:auto;
}

.pokemon-container{
    display:flex;
    align-items: flex-start;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .encounters-layout{
        flex-direction:column-reverse;
    }
    
    .controls-container{
        flex-direction:column;
        align-items: center;
    }

    .pokedex-container, .encounters-container{
        width:100%;
    }

    .pokemon-container{
        padding:0;
    }
}