.encounters-layout{
    display:grid;
    grid-template-columns: 15% 85%;
}

.encounters-nav{
    display: flex;
    height:100%;
}

.encounters-nav-child{
    margin: 6px;
}

.version-div{
    width:150px;
    margin:10px;
    border: 2px solid var(--accent-color);
}

.home-button{
    background-color: #cfd9e6;
    color: #30323a;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    cursor:pointer;
    transition: border-color 0.25s;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}

.home-button:hover{
    border-color: var(--accent-color);
}



@media only screen and (max-width: 600px) {
    .encounters-nav{
        right:10px;
        justify-content: center;
    }

    .encounters-nav-child{
        width:100%;
    }

    .home-button{
        width:100%;
    }

    .tracker-layout{
        padding-top:40px;
        flex-direction:column-reverse;
    }
}