.encounters-layout{
    display:grid;
    grid-template-columns: 12% 88%;
    height:100%;
}

.encounters-controls-container{
    display:flex;
    align-items: center;
}

p.encounters-controls-child{
    font-size:larger;
    font-weight:500;
}

.encounters-controls-child{
    margin-left:8px;
    margin-right:8px;
}

.encounters-div{
    display:flex;
    flex-direction:column;
}

@media only screen and (max-width: 600px) {
    .encounters-nav{
        right:10px;
        justify-content: center;
    }

    .encounters-nav-child{
        width:100%;
    }

    .home-button{
        width:100%;
    }

    .tracker-layout{
        padding-top:40px;
        flex-direction:column-reverse;
    }
}