.home-layout{
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

.grid-container {
    display: flex;
    width:60%;
    box-sizing: border-box;
    padding:12px;
    justify-content: center;
    flex-wrap:wrap;
    gap:10px;
}

@media only screen and (max-width: 600px) {
    .grid-container{
        width:100%;
    }
}