#root {
  width:100%;
  height:100%;

  --primary-light:#F04037;
  --primary-color: #a82d27;
  --primary-dark:#942822;

  --secondary-light:#45474e;
  --secondary-color:#30323a;
  --secondary-dark:#2b2d34;

  --third-light:#e6f1ff;
  --third-color:#d4dde9;
  --third-dark: #c2c9d2;
}

h2{
  padding:0;
  margin:0;
}