.header-container{
    width:100%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header-child{
    display:flex;
    align-items: center;
    justify-content: center;
}

.header-child h1 {
    margin:0;
    padding:0;
    min-width:max-content;
    cursor:pointer;
    transition: color 0.2s ease;
}

.header-child h1:hover{
    color:var(--primary-color);
}

.header-child.login-status{
    position:absolute;
    right:10px;
    top:0;
    bottom:0;
}

@media only screen and (max-width: 600px) {
    .header-container{
        flex-direction:column;
    }

    .header-child.login-status{
        position:relative;
    }
}