header{
    width:100%;
    position:relative;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color:var(--third-light);
    background-color:var(--primary-color);
    box-sizing: border-box;
    padding:10px;
}

.header-title h1 {
    cursor:pointer;
    transition: color 0.2s ease;
    margin:6px;
}

.header-title:hover h1{
    color:var(--third-dark);
}

.header-logout{
    position:absolute;
    left:6px;
}

.header-user{
    position:absolute;
    right:6px;
}

.header-dark-toggle{
    position:absolute;
    right:150px;
}

.toggle-button{
    text-wrap:nowrap;
    padding:12px;
    border:none;
    border-radius:14px;
    font-size:18px;
    background-color:var(--primary-color);
    transition: background-color ease 0.2s;
    cursor:pointer;
    color:var(--third-light);
    text-align: center;
    width:48px;
    height:48px;
}

.toggle-button:hover{
    background-color:var(--primary-dark);
}

@media only screen and (max-width: 600px) {
    header{
        text-align:center;
        flex-direction:column;
    }

    .header-logout, .header-user, .header-dark-toggle{
        position:relative;
        left:0;
    }
}