.layout-wrapper{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color:var(--third-light);
    min-height:100vh;
    height:max-content;
}

.dark{
    background-color:var(--secondary-dark);
    color:var(--primary-color);
}

.light{
    background-color:var(--third-light);
    color:var(--secondary-color);
}

.layout-content{
    display:flex;
    flex:1;
    padding-top:30px;
}

.layout-footer{
    text-align:center;
    color:inherit;
    padding:10px;
}