.button-label{
    margin-left:20px;
}

.icon-button{
    border: none;
    border-radius: 10px;
    cursor:pointer;
    transition: background-color 0.25s;
    font-size: 16px;
    font-weight: 600;
    width:100%;
    align-items:center;
    display:flex;
    justify-content: left;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}